Support other sha 

https://cmake.org/cmake/help/v3.0/module/ExternalData.html

The following hash algorithms are supported:

%(algo)     <ext>     Description

---

MD5         .md5      Message-Digest Algorithm 5, RFC 1321
SHA1        .sha1     US Secure Hash Algorithm 1, RFC 3174
SHA224      .sha224   US Secure Hash Algorithms, RFC 4634
SHA256      .sha256   US Secure Hash Algorithms, RFC 4634
SHA384      .sha384   US Secure Hash Algorithms, RFC 4634
SHA512      .sha512   US Secure Hash Algorithms, RFC 4634
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32537040-support-other-sha?utm_campaign=plugin&utm_content=tracker%2F1032790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1032790&utm_medium=issues&utm_source=github).
</bountysource-plugin>


What is the scenario of usefulness of this feature?

https://konklone.com/post/why-google-is-hurrying-the-web-to-kill-sha-1

This site explains why Google wants sha1 gone. For example: any web certificate with it has been disabled and blocked from chrome for the last while.

https://blog.mozilla.org/security/2014/09/23/phasing-out-certificates-with-sha-1-based-signature-algorithms/
<firefox> For instance, after January 1, 2016, we plan to show the “Untrusted Connection” error whenever a newly issued SHA-1 certificate is encountered in Firefox. After January 1, 2017, we plan to show the “Untrusted Connection” error whenever a SHA-1 certificate is encountered in Firefox.

Although the use here is not a web certificate, you are using it to determine that the downloaded file hasn't been changed and it seemed prudent to follow the phase out lead of Google and Firefox.

There's also gpg keys, but that may be too much effort.

> This site explains why Google wants sha1 gone

So the only reason is security? That's kind of out of scope of Hunter. SHA1 used for consistency, i.e. some simple way to say that this `*.tar.gz` archive differs from another `*.tar.gz` archive. Security level implemented by using `https://` while do downloading/uploading.

> There's also gpg keys, but that may be too much effort.

This should be implemented in CMake. If CMake will have such support I will think about integrating it into Hunter.

Closing for https://github.com/ruslo/hunter/issues/684